*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --game--background--color: rgb(255, 255, 255);
  --color-red: rgb(223, 0, 0);
  --color-grey: rgb(247, 247, 247);
}
body {
  font-size: 2rem;
  background: #eee;
  font-family: sans-serif;
}

body::before,
body::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation-name: away;
  animation-duration: 1.2s;
  transform-origin: right;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

body::before {
  background: red;
  animation-delay: 0.3s;
  z-index: 1;
}

body::after {
  background: pink;
  z-index: 2;
}

h1 {
  margin-bottom: 5rem;
}

select {
  margin-bottom: 2rem;
  font-size: 2rem;
}

main {
  width: 100%;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: popup;
  animation-duration: 0.8s;
  animation-delay: 1s;
  padding: 8rem;
}

.filt {
  font-size: 2rem;
  padding-bottom: 3rem;
}

/*searchbar*/

.searchBar {
  position: relative;
}

.searchBar__input {
  border: none;
  width: 60rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  background: white;
  display: block;
  padding: 1rem;
  padding-left: 5rem;
}

.searchBar__glass {
  width: 6rem;
  height: 2rem;
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1.3rem;
}

/*shoppingCart*/

h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.checkout {
  padding: 2rem;
  width: 80%;
  height: 100%;
  background: var(--game--background--color);
  display: none;
  gap: 2rem;
  margin: 0 auto;
}

.checkout__list {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3.5, 30rem 20rem);
}

.checkout__listItem {
  list-style: none;
  grid-row: span 2;
  border-bottom: 0.3rem solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkout__image {
  height: 50%;
  width: 50%;
  object-fit: contain;
}

.modal {
  width: 50rem;
  height: 30rem;
  position: absolute;
  position: fixed;
  top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.3);
  color: green;
  font-size: 130%;
  font-weight: 400;
  border-radius: 0.5rem;
  left: 34%;
  display: none;
  z-index: 1;
}

.shoppingCart {
  position: relative;
  color: black;
  border: 2px solid black;
  background-color: var(--game--background--color);
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
}

.fa-arrow-left {
  position: fixed;
  padding: 3rem;
  cursor: pointer;
  color: black;
  background: red;
  border-radius: 50%;
}

.shoppingCart:hover {
  cursor: pointer;
  background-color: lightgray;
}

.shoppingCart__message {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: -1rem;
  left: 5.4rem;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  background-color: white;
  align-items: center;
  margin: 0 auto;
}

.fa-arrow-left {
  display: none;
}

.fa-cart-shopping {
  display: inline-block;
}

.a-popup {
  animation-name: popup;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/*nav bar*/

.header {
  display: flex;
  height: 8rem;
  width: 100%;
  background: var(--color-red);
  gap: 4rem;
}
.navbar {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.menu-icon {
  display: flex;
  color: var(--game--background--color);
  padding: 10px 15px;
  border-radius: 0.5rem;
  cursor: pointer;
}

.user-login-icon,
.user-login {
  color: black;
  border: 2px solid black;
  background-color: var(--game--background--color);
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
}

.user-login-icon:hover,
.user-login:hover {
  background-color: lightgray;
}

.logo img {
  width: 30rem;
  margin-left: 8rem;
  transition-property: transform;
  transition-duration: 0.2s;
}

.logo img:hover {
  transform: scale(1.1);
}

.header .navbar a {
  text-decoration: none;
  font-size: 2rem;
  margin: 0.2rem;
  color: var(--game--background--color);
  margin-right: 10rem;
}

/*sidemenu popup*/

a {
  text-decoration: none;
}

.container {
  height: 100%;
  width: 64rem;
  position: absolute;
  z-index: 999;
  background: white;
  transition: 0.5s ease;
  transform: translateX(-66.5rem);
}

.container .head img {
  width: 30rem;
  height: 13rem;
  padding: 3rem;
}

.container ul {
  width: 100%;
  list-style: none;
}

.container ul li {
  display: block;
  width: 100%;
  text-decoration: none;
}

.container ul p {
  font-size: 3rem;
  font-weight: 700;
  margin-left: 8rem;
  text-decoration: none;
  color: black;
  cursor: default;
}

.container ul li a {
  color: var(--color-grey);
  padding: 1.2rem 1rem;
  text-decoration: none;
  font-size: 2rem;
  letter-spacing: 1px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
}

.container ul a li i {
  width: 6rem;
  text-decoration: none;
  text-align: center;
  padding-left: 3rem;
  color: black;
}

.container ul li:hover {
  background: var(--color-grey);
  color: black;
  transition-duration: 0.2s;
  letter-spacing: 0.5rem;
  cursor: pointer;
}

.check {
  display: none;
}

.container span {
  position: absolute;
  right: -46rem;
  top: 3rem;
  font-style: 3rem;
  border-radius: 0.3rem;
  cursor: pointer;
  color: var(--game--background--color);
  padding: 3px 10px;
  border: 2px 2px 2px solid var(--game--background--color);
  animation-name: fadeIn;
  animation-duration: 0.8s;
}

#bars {
  background: rgb(223, 0, 0);
}

#check:checked ~ .container span {
  position: absolute;
  right: 1rem;
  color: black;
}

#check:checked ~ .container {
  transform: translateX(0);
}

#check:checked ~ .container #bars {
  display: none;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4rem;
  width: 100%;
  margin-bottom: 4rem;
  flex-wrap: wrap;
}

.inputs > div {
  display: flex;
  align-items: center;
  width: 40rem;
}

.filter {
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.filter:hover {
  cursor: pointer;
}

.label:hover {
  cursor: pointer;
}

.filter:checked {
  background: black;
}

.filter:checked ~ .label {
  text-decoration: underline;
}

button {
  cursor: pointer;
}

.games {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 64rem 64rem 64rem 64rem;
  gap: 15rem;
}

.games__game {
  list-style: none;
  border-radius: 0.5rem;
  transition: 0.8s opacity;
  border-bottom: 0.5rem solid black;
}

.games__figure {
  width: 100%;
  height: 60%;
}

.games__img {
  width: 115%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.5s;
}

.games__img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.games__body {
  padding: 1rem;
  height: 30%;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-end;
}

.games__h2 {
  font-size: 300%;
  font-weight: 700;
}

.games__h3 {
  font-size: 120%;
  font-weight: 400;
}

.games__stars {
  color: var(--color-red);
  font-size: 130%;
}

.games__button {
  width: 20rem;
  border: none;
  font-size: 90%;
  font-family: "Lato", sans-serif;
  color: white;
  background: black;
  padding: 1rem 2rem;
}

/*footer*/

footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  background-color: rgb(227, 227, 227);
}

.main-content {
  display: flex;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.content img {
  height: 10rem;
  width: 10rem;
  margin-left: 2rem;
  background-color: white;
  margin: 2rem;
  display: flex;
  border-radius: 2rem;
}

.content a {
  gap: 2rem;
  padding: 2rem;
}

.box h2 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: black;
}
.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: rgb(223, 0, 0);
  top: -10px;
}
.left .content p {
  text-align: justify;
}
.left .content .social {
  margin: 20px 0 0 0;
}
.left .content .social a {
  padding: 0 2px;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  background: white;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover {
  background: rgb(223, 0, 0);
}
.center .content .fab {
  font-size: 1.4375rem;
  background: white;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.center .content .fas {
  font-size: 1.4375rem;
  background: white;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.center .content .fas:hover {
  background: rgb(223, 0, 0);
  transform: scale(1.7);
}

.center .content .fab:hover {
  background: rgb(223, 0, 0);
  transform: scale(1.7);
}
.center .content .text {
  font-size: 2rem;
  font-weight: 500;
  padding-left: 10px;
  color: black;
}
h2,
a {
  color: black;
}

.content p {
  color: black;
}

.center .content .phone {
  margin: 15px 0;
}

@keyframes away {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

@keyframes popup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
  }
}
